commands:
  01_make_directory:
    command: mkdir -p /var/log/
  02_make_info_log:
    command: touch /var/log/info.log
  03_make_debug_log:
    command: touch /var/log/debug.log
  04_make_error_log:
    command: touch /var/log/error.log
  05_change_permissions:
    command: chmod g+s /var/log/
  06_change_owner:
    command: chown webapp:webapp /var/log/
  07_change_default_owner:
    command: setfacl -d -m g::rw /var/log/
  08_change_owner:
    command: chown webapp:webapp /var/log/info.log
  09_change_owner:
    command: chown webapp:webapp /var/log/debug.log
  10_change_owner:
    command: chown webapp:webapp /var/log/error.log