{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to IMVN.5 {% endblock %}</h1>
    {% for contact in contacts %}
        <button type="button" class="close" onClick="deleteContact({{ contact['id'] }})">
            <span aria-hidden="true">&times;</span>
        </button>
        <a href={{contact['id']}}>
            <h2>{{ contact['lastName'] + ", " + contact['firstName'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ contact['dob'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}